@font-face {
  font-family: "Lexend Deca";
  src: url(../fonts/LexendDeca-Regular.ttf);
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #202940;
  font-size: 20px;
  font-family: "Lexend Deca", sans-serif;
  color: white;
  margin: 0 5%;
  min-height: 100%;
  min-width: 600px;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: right;
  margin: 10px 0 30px 0;
}

.footer__git-img {
  height: 25px;
  padding: 0 10px;
}

.footer__github-link {
  color: white;
  cursor: pointer;
}

.footer__github-link:hover {
  color: #9922fb;
}

.modal__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 110px;
  border: 3px solid #9922fb;
  border-radius: 5%;
  width: 300px;
}

.modal__block p {
  margin: 10px 0 10px 0;
}

.modal__button {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: white;
  background-color: #9922fb;
  border-color: #9922fb;
  padding: 10px 40px;
  font-size: 24px;
  width: 100%;
}

.modal__input {
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
}

p.modal__error-message {
  font-size: 14px;
  color: red;
  margin: 10px 0 10px 0;
}

@media screen and (max-device-width: 500px) {
}
